*, *:after, *:before  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p,
ul, li,
a,
img,
input,
button,
textarea,
div {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	height: auto;
	max-width: 100%;
	border: 0;
}

ul li {
	list-style-type: none;
}

body {
	background-color: #F9F9F9;
}

.cbalink {
	display: none !important;
}